.head {
    display: flex;
    flex-direction: row;
}

.head .btn {
    display: block;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
    margin: 5px;
}

.btn-sort {
    background-image: url(../img/sort.svg);
}

.file {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-top: 1px solid #dddddd;
}

a.file {
    color: #000;
    text-decoration: none;
}

a.file:visited {
    color: #609;
}

a.file.file-directory {
    color: #000;
}

a.file.file-directory:hover:visited {
    color: #609;
}

a.file:active,
a.file:hover {
    background-color: #FFC200;
}

.file:last-child {
    border-bottom: 1px solid #dddddd;
}

.second-row {
    width: calc(100% - 40px);
}

.file__name {
    width: 100%;
    padding: 0 5px;
    word-break: break-all;
}

.file__info {
    padding: 0 5px;
    text-align: right;
    flex-grow: 1;
    font-size: 12px;
    color: #000;
}

.file__icon {
    display: block;
    width: 40px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px;
}

.icon-file {
    background-image: url(../img/file.svg);
}

.icon-folder {
    background-image: url(../img/folder.svg);
}

.icon-mov,
.icon-mkv,
.icon-mp4 {
    background-image: url(../img/video.svg);
}

.icon-dmg,
.icon-zip,
.icon-7z {
    background-image: url(../img/archive.svg);
}

.icon-fb2,
.icon-epub {
    background-image: url(../img/book.svg);
}

.icon-aac,
.icon-flac,
.icon-alac,
.icon-mp3 {
    background-image: url(../img/audio.svg);
}

.icon-ico,
.icon-jpeg,
.icon-jpg,
.icon-png {
    background-image: url(../img/image.svg);
}

.icon-log,
.icon-txt {
    background-image: url(../img/text.svg);
}

.dialog-select_sort {
    width: 300px;
}

.dialog-select_sort a {
    display: block;
    padding: 8px 5px;
    padding-left: 34px;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #dddddd;
    background-repeat: no-repeat;
    background-position: 5px center;
    background-size: 24px;
}

.dialog-select_sort a:last-child {
    border-bottom: 0;
}

.dialog-select_sort a.selected {
    background-color: #dddddd;
    background-image: url(../img/down.svg);
}


.dialog-select_sort a.reverse {
    background-color: #dddddd;
    background-image: url(../img/up.svg);
}

.dialog-select_sort a:hover {
    background-color: #FFC200;
}

.dialog-select_sort .radio-wrapper {
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

.dialog-select_sort .radio-wrapper label {
    width: 50%;
    text-align: center;
    padding: 8px 5px;
}