.head {
    display: flex;
    flex-direction: row;
}

.head .btn {
    display: block;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
    margin: 5px;
}

.btn-sort {
    background-image: url(../img/sort.svg);
}

.file {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-top: 1px solid #dddddd;
}

a.file {
    color: #000;
    text-decoration: none;
}

a.file:hover {
    background-color: #FFC200;
}

.file:last-child {
    border-bottom: 1px solid #dddddd;
}

.second-row {
    width: calc(100% - 40px);
}

.file__name {
    width: 100%;
    padding: 0 5px;
    word-break: break-all;
}

.file__info {
    padding: 0 5px;
    text-align: right;
    flex-grow: 1;
    font-size: 12px;
}

.file__icon {
    display: block;
    width: 40px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px;
}

.icon-file {
    background-image: url(../img/file.svg);
}

.icon-folder {
    background-image: url(../img/folder.svg);
}

.icon-mov,
.icon-mkv,
.icon-mp4 {
    background-image: url(../img/video.svg);
}

.icon-dmg,
.icon-zip,
.icon-7z {
    background-image: url(../img/archive.svg);
}

.icon-fb2,
.icon-epub {
    background-image: url(../img/book.svg);
}

.icon-aac,
.icon-flac,
.icon-alac,
.icon-mp3 {
    background-image: url(../img/audio.svg);
}

.icon-ico,
.icon-jpeg,
.icon-jpg,
.icon-png {
    background-image: url(../img/image.svg);
}

.icon-log,
.icon-txt {
    background-image: url(../img/text.svg);
}

.dialog-select_sort {
    width: 300px;
}

@media all and (min-width: 800px) {
    /* Мы меняем местами элементы .aside-1 и .main, а также сообщаем
     * элементу .main забирать в два раза больше места, чем сайдбары.
     */

    .file__name {
        margin: 7px 5px;
    }
}