.head {
    display: flex;
    flex-direction: row;
}

.head .btn {
    display: block;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
    margin: 5px;
}

.btn-sort {
    background-image: url(../img/sort.svg);
}

.table > .file:nth-child(odd) {
    background-color: #f9f9f9;
}

.file {
    display: flex;
    flex-direction: row;
    border-top: 1px solid #dddddd;
    flex-wrap: wrap;
    align-content: center;
}

.file:last-child {
    border-bottom: 1px solid #dddddd;
}

.file__icon {
    display: block;
    width: 32px;
    line-height: 32px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    margin: 0 5px;
}

.main-row {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.first-line {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.second-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
}

.icon-file {
    background-image: url(../img/file.svg);
}

.icon-folder {
    background-image: url(../img/folder.svg);
}

.file__name {
    flex-grow: 1;
    margin: 0 5px;
}

.file__date {
    margin: 0 5px;
}

.file__size {
    margin: 0 5px;
}

.dialog-select_sort {
    width: 300px;
}

@media all and (min-width: 800px) {
    /* Мы меняем местами элементы .aside-1 и .main, а также сообщаем
     * элементу .main забирать в два раза больше места, чем сайдбары.
     */
    .main-row {
        flex-direction: row;
    }

    .file__name {
        margin: 7px 5px;
    }

    .second-line {
        font-size: 14px;
    }
}