body {
    padding-top: 62px;
}

.head {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.head .title {
    flex-grow: 1;
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
}

.head .panel {
    display: flex;
    flex-direction: row;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

.head .btn {
    display: block;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
    margin: 5px;
    border-radius: 3px;
}

.btn:active {
    background-color: #FFC200;
}

.btn-sort {
    background-image: url(../img/sort.svg);
}

.icon-remove {
    background-image: url(../img/remove.svg);
}

.icon-copy {
    background-image: url(../img/copy.svg);
}

.icon-cut {
    background-image: url(../img/cut.svg);
}

.icon-rename {
    background-image: url(../img/rename.svg);
}

.icon-new-folder {
    background-image: url(../img/new-folder.svg);
}

.btn.btn-refresh {
    background-image: url(../img/refresh.svg);
    background-size: 31px;
}

.file {
    display: flex;
    flex-direction: row;
    border-top: 1px solid #dddddd;
}


.file.selected {
    background-color: #dddddd;
}

a.file__link {
    color: #000;
    text-decoration: none;
    flex-grow: 1;
}

a.file__link:visited {
    color: #609;
}

a.file__link.link-directory {
    color: #000;
}

a.file__link.link-directory:hover:visited {
    color: #609;
}

.file:active {
    background-color: #FFC200;
}

@media screen and (min-width:800px) {
    .file:hover {
        background-color: #FFC200;
    }
}

.file:last-child {
    border-bottom: 1px solid #dddddd;
}

.file__link {
    width: calc(100% - 40px);
    padding: 5px;
}

.file__name {
    width: 100%;
    word-break: break-all;
}

.file__info {
    text-align: right;
    flex-grow: 1;
    font-size: 12px;
    color: #000;
}

.file__icon {
    display: block;
    width: 40px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px;
    padding: 5px;
}

.file__select {
    opacity: 0;
}

.file__select:checked {
    opacity: 1;
}

.icon-file {
    background-image: url(../img/file.svg);
}

.icon-folder {
    background-image: url(../img/folder.svg);
}

.icon-mov,
.icon-mkv,
.icon-mp4 {
    background-image: url(../img/video.svg);
}

.icon-dmg,
.icon-zip,
.icon-7z {
    background-image: url(../img/archive.svg);
}

.icon-fb2,
.icon-epub {
    background-image: url(../img/book.svg);
}

.icon-aac,
.icon-flac,
.icon-alac,
.icon-mp3 {
    background-image: url(../img/audio.svg);
}

.icon-ico,
.icon-jpeg,
.icon-jpg,
.icon-png {
    background-image: url(../img/image.svg);
}

.icon-log,
.icon-txt {
    background-image: url(../img/text.svg);
}

.dialog-select_sort {
    width: 280px;
}

.dialog-select_sort a {
    display: block;
    padding: 8px 5px;
    padding-left: 34px;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #dddddd;
    background-repeat: no-repeat;
    background-position: 5px center;
    background-size: 24px;
}

.dialog-select_sort a:last-child {
    border-bottom: 0;
}

.dialog-select_sort a.selected {
    background-color: #dddddd;
    background-image: url(../img/down.svg);
}


.dialog-select_sort a.reverse {
    background-color: #dddddd;
    background-image: url(../img/up.svg);
}

.dialog-select_sort a:hover {
    background-color: #FFC200;
}

.dialog-select_sort .radio-wrapper {
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

.dialog-select_sort .radio-wrapper label {
    width: 50%;
    text-align: center;
    padding: 8px 5px;
}

.notification {
    position: fixed;
    right: 10px;
    top: 10px;
    min-width: 100px;
    background-color: rgb(252, 123, 123);
    opacity: 0.9;
    padding: 5px;
    z-index: 10;
    color: #000;
    text-align: center;
}


.task {
    display: flex;
    flex-direction: row;
    min-height: 47px;
    align-items: center;
    border-top: 1px solid #dddddd;
}

.task__icon {
    display: block;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px;
    padding: 5px;
}

.task__name {
    padding: 5px;
    min-width: 60px;
}

.task__info {
    flex-grow: 1;
    padding: 5px;
    word-break: break-all;
}

.task__controls {
    padding: 5px;
}

.task__btn {
    margin: 5px;
    line-height: 40px;
}

.dialog-name {
    width: 300px;
}

.file_list {
    max-height: 100px;
    overflow: auto;
}

.file_list .item {
    display: block;
    word-break: break-all;
    padding: 0 5px;
}

.file_list .item:nth-child(odd) {
    background-color: #ddd;
}